<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person detail</title>
</head>
<body>
    <h1>Person {{t_person}} detail: </h1>
    <h2>{{t_person.getDescription}}</h2>
    <h3>List of records bound to this person:</h3>
    {% for record in t_records_bounds %}
        <li><a  href="{% url 'record_detail' record.id %}">{{record}}</a></li>
    {% endfor %}
<a href="{% url 'persons_index'%}">Back to index</a>
<a href="{% url 'person_edit' t_person.id %}">Edit</a>
<form action="{% url 'person_delete' t_person.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete person (!)" />
</form>
</body>
</html>